/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: none;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#hero-background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

@media (min-aspect-ratio: 16/9) {
    #hero video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #hero video {
        width: auto;
        height: 100%;
    }
}

@media (min-width: 992px) {
    #hero {
        padding-left: 160px;
    }
}

#hero h1 {
    margin: 0;
    font-size: 64px;
    font-weight: bolder;
    line-height: 56px;
    color: rgba(18, 152, 194, 0.76);
}

#hero p {
    color: #6ab619;
    margin: 15px 0 0 0;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

#hero p span {
    color: #0f8350;
    letter-spacing: 1px;
}

#hero .hero-social-links {
    margin-top: 30px;
}

#hero .hero-social-links a {
    font-size: 24px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
}

#hero .hero-social-links a:hover {
    color: #0563bb;
}

#home-explore {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

@media (max-width: 992px) {

    #hero h1 {
        font-size: 32px;
        line-height: 36px;
    }

    #hero p {
        margin-top: 10px;
        font-size: 20px;
        line-height: 24px;
        /*text-align: center;*/
    }

    #hero .hero-social-links {
        margin-top: 20px;

    }

    #home-explore {
        font-size: 15px;
        padding: 10px 40px;
        border-radius: 30px;
        margin-top: 17px;
    }

    #hero #herotextbox {
        width: 75%;
        justify-content: left;
    }
}

#background-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: opacity 0.3s;
}
