@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500,600,700|Poppins:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
    --font-base: "DM Sans", sans-serif;

    --primary-color: #edf2f8;
    --secondary-color: #313bac;
    --black-color: #030303;
    --lightGray-color: #e4e4e4;
    --gray-color: #6b7688;
    --brown-color: #46364a;
    --white-color: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html,
body {
    font-family: "Josefin Sans", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color) !important;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth !important;
}

body a,
body button {
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
    color: unset;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}
